/back/storage/*.key
/back/Homestead.yaml
/back/Homestead.json
/back/.vagrant
/back/.phpunit.result.cache

/back/node_modules
/back/npm-debug.log
/back/yarn-error.log
# Laravel 5 & Lumen specific
/back/public/hot
/back/public/storage

/back/storage/*.key
/back/vendor
/back/.env
/back/.env.backup
/back/.phpunit.result.cache
docker-compose.override.yml
/back/Homestead.json
/back/Homestead.yaml

/.idea
/.vscode

/front/node_modules/
/front/.expo/
/front/dist/
/front/npm-debug.*
/front/*.jks
/front/*.p8
/front/*.p12
/front/*.key
/front/*.mobileprovision
/front/*.orig.*
/front/web-build/

# macOS
/front/.DS_Store
